@import url("https://fonts.googleapis.com/css?family=Roboto:400,300,700italic,700,500&subset=latin,latin-ext");

body {
	padding-top: 40px;
	padding-bottom: 40px;
}

/* COMMON PRICING STYLES */
.card.price,
.card.price>.card-heading{
	border-radius:0px;
	 -moz-transition: all .3s ease;
	-o-transition:  all .3s ease;
	-webkit-transition:  all .3s ease;
}
.card.price:hover{
	box-shadow: 0px 0px 30px rgba(0,0,0, .2);
}
.card.price:hover>.card-heading{
	box-shadow: 0px 0px 30px rgba(0,0,0, .2) inset;
}

		
.card.price>.card-heading{
	box-shadow: 0px 5px 0px rgba(50,50,50, .2) inset;
	text-shadow:0px 3px 0px rgba(50,50,50, .6);
}
	
.price .list-group-item{
	border-bottom-:1px solid rgba(250,250,250, .5);
}

.card.price .list-group-item:last-child {
	border-bottom-right-radius: 0px;
	border-bottom-left-radius: 0px;
}
.card.price .list-group-item:first-child {
	border-top-right-radius: 0px;
	border-top-left-radius: 0px;
}

.price .card-footer {
	color: #fff;
	border-bottom:0px;
	background-color:  rgba(0,0,0, .1);
	box-shadow: 0px 3px 0px rgba(0,0,0, .3);
}


.card.price .btn{
	box-shadow: 0 -1px 0px rgba(50,50,50, .2) inset;
	border:0px;
}

/* green card */


.price.card-green>.card-heading {
	color: #fff;
	background-color: #57AC57;
	border-color: #71DF71;
	border-bottom: 1px solid #71DF71;
}

	
.price.card-green>.card-body {
	color: #fff;
	background-color: #65C965;
}
		

.price.card-green>.card-body .lead{
		text-shadow: 0px 3px 0px rgba(50,50,50, .3);
}

.price.card-green .list-group-item {
	color: #333;
	background-color: rgba(50,50,50, .01);
	font-weight:600;
	text-shadow: 0px 1px 0px rgba(250,250,250, .75);
}

/* blue card */


.price.card-blue>.card-heading {
	color: #fff;
	background-color: #608BB4;
	border-color: #78AEE1;
	border-bottom: 1px solid #78AEE1;
}

	
.price.card-blue>.card-body {
	color: #fff;
	background-color: #73A3D4;
}
		

.price.card-blue>.card-body .lead{
		text-shadow: 0px 3px 0px rgba(50,50,50, .3);
}

.price.card-blue .list-group-item {
	color: #333;
	background-color: rgba(50,50,50, .01);
	font-weight:600;
	text-shadow: 0px 1px 0px rgba(250,250,250, .75);
}

/* red price */


.price.card-red>.card-heading {
	color: #fff;
	background-color: #D04E50;
	border-color: #FF6062;
	border-bottom: 1px solid #FF6062;
}

	
.price.card-red>.card-body {
	color: #fff;
	background-color: #EF5A5C;
}




.price.card-red>.card-body .lead{
		text-shadow: 0px 3px 0px rgba(50,50,50, .3);
}

.price.card-red .list-group-item {
	color: #333;
	background-color: rgba(50,50,50, .01);
	font-weight:600;
	text-shadow: 0px 1px 0px rgba(250,250,250, .75);
}

/* grey price */


.price.card-grey>.card-heading {
	color: #fff;
	background-color: #6D6D6D;
	border-color: #B7B7B7;
	border-bottom: 1px solid #B7B7B7;
}

	
.price.card-grey>.card-body {
	color: #fff;
	background-color: #808080;
}



.price.card-grey>.card-body .lead{
		text-shadow: 0px 3px 0px rgba(50,50,50, .3);
}

.price.card-grey .list-group-item {
	color: #333;
	background-color: rgba(50,50,50, .01);
	font-weight:600;
	text-shadow: 0px 1px 0px rgba(250,250,250, .75);
}

/* white price */


.price.card-white>.card-heading {
	color: #333;
	background-color: #f9f9f9;
	border-color: #ccc;
	border-bottom: 1px solid #ccc;
	text-shadow: 0px 2px 0px rgba(250,250,250, .7);
}

.card.card-white.price:hover>.card-heading{
	box-shadow: 0px 0px 30px rgba(0,0,0, .05) inset;
}
	
.price.card-white>.card-body {
	color: #fff;
	background-color: #dfdfdf;
}
		
.price.card-white>.card-body .lead{
		text-shadow: 0px 2px 0px rgba(250,250,250, .8);
		color:#666;
}

.price:hover.card-white>.card-body .lead{
		text-shadow: 0px 2px 0px rgba(250,250,250, .9);
		color:#333;
}

.price.card-white .list-group-item {
	color: #333;
	background-color: rgba(50,50,50, .01);
	font-weight:600;
	text-shadow: 0px 1px 0px rgba(250,250,250, .75);
}