on:
  push:
    branches:
      - master
name: Publish Website
jobs:
  FTP-Deploy-Action:
    name: FTP-Deploy-Action
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@master
    - name: FTP-Deploy-Action
      uses: SamKirkland/FTP-Deploy-Action@4.3.3
      with:
        server: ftp.jonathangillette.net
        server-dir: keystoneconcertband.com/
        username: ftp_jonathan@jonathangillette.net
        password: ${{ secrets.FTP_PASSWORD_PROD }}
        exclude: |
          .vscode/*
          _config.yml
          cgi-bin/*
          includes/class/settings.ini.php
          members/documents*/*
          phplist/*
          README.md
          uploadimages/*
          video/*